@model GetPostsViewModel

<div b-h3z81f26w4="" class="container">
    <main b-h3z81f26w4="" role="main" class="pb-3">
        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <!-- Blog Entries Column -->
                <div class="col-md-8">
                    <h1 class="my-4">LIT Blog</h1>
                    @foreach(Post post in Model.Posts)
                    {
                        <div class="card mb-4">
                            <div class="card-body">
                                <h2 class="card-title">
                                    <a style="text-decoration:none;" href="/home/viewblog?id=@post.Id">@post.Title</a>
                                </h2>
                                <p class="card-text">@post.Text</p>
                                <a href="/home/viewblog?id=@post.Id" class="btn btn-primary">Read More →</a>
                            </div>
                            <div class="card-footer text-muted">
                                Posted on @post.DateTime.ToLongDateString()
                            </div>
                        </div>
                    }
                    <!-- Pagination -->
                    <ul class="pagination justify-content-center mb-4">
                    @if(Model.Page < Model.PageCount)
                    {                        
                            <li class="page-item">
                                <a class="page-link" href="/home/index?page=@(Model.Page+1)">← Older</a>
                            </li>
                       
                    }
                    @if(Model.Page > 1){                        
                            <li class="page-item">
                                <a class="page-link" href="/home/index?page=@(Model.Page-1)">Newer →</a>
                            </li>                       
                    }
                    </ul>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </main>
</div>
