<div b-h3z81f26w4="" class="container">
    <main b-h3z81f26w4="" role="main" class="pb-3">
        <div class="row">
            <div class="col-md-8 offset-md-2 bg-light rounded-3 p-5">
                <form method="POST" action="/home/submitpost">
                    <input type="text" class="form-control" placeholder="Title" name="title" id="title">
                    <br>
                    <textarea name="text" placeholder="What's on your mind?" class="form-control" rows="20" id="text"></textarea>
                    <br>
                    <button class="btn btn-primary" disabled="">Submit Post!</button>
                </form>
            </div>
        </div>
    </main>
</div>

@section Scripts {
    <script src="/js/submitPost.js"></script>
}